main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.8rem;
  padding: 1rem;
}

main ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.3rem;
  box-shadow: 1px 6px 20px 9px rgba(0, 0, 0, 0.2);
  width: 200px;
  min-height: 320px;
  background: $background-color;
  border-radius: 8px;
}

main ul li {
  display: flex;
  color: $text-color;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 100%;
  flex-grow: 1;
}

main ul li img {
  height: 280px;
  width: 100%;
  object-fit: cover;
  border-radius: 10px;
}

main ul li h2 {
  font: 700 1rem sans-serif !important;
  margin-top: 1rem;
}

span {
  margin-top: 0.3rem;
}