.container-section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: auto;
  overflow: hidden;
  position: relative;
}

.section-buscar {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 95vw;
  margin: 20px 0;
}
