.container-section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: auto;
  overflow: hidden;
  position: relative;
}

video {
  width: 100vh;
  height: 100vw;
  max-width: none;
  max-height: none;
  object-fit: cover;
  transform: rotate(270deg);
  overflow: hidden;
  /* El 'position: fixed' y luego 'position: absolute' tienen conflicto, */
  /* te dejo solo position: absolute que se aplica en general */
  position: absolute;
}

.section-buscar {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 95vw;
  margin: 20px 0;
}
