button,
main ul li button {
  all: unset;
  display: inline-block;
  padding: 0.5rem 1rem;
  font-weight: 700;
  font-family: inherit;
  font-size: 1rem;
  color: white;
  background-color: $button-bg-color;
  border: 2px solid $button-border-color;
  border-radius: 8px !important;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
  text-align: center !important;
  text-decoration: none;
  min-width: 100px;
}

button:hover,
main ul li button:hover {
  background-color: white;
  color: $button-bg-color;
  border-radius: 8px;
  font-weight: 800;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}
