.carousel-control-prev-icon,
.carousel-control-next-icon {
  filter: invert(1); 
  opacity: 0.8;
    outline: none !important;
    box-shadow: none; 

  &:hover {
    opacity: 1;
  }
}

.carousel-control-prev,
.carousel-control-next {
  background-color: transparent;
  border: none;

  &:hover {
background: transparent;
    outline: none;
    box-shadow: none;  }
}
