.section-buscar {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 95vw;
  margin: 20px 0;
}

.section-buscar input,
.section-buscar select {
  width: 25vw;
  background: transparent;
  border: none;
  border-bottom: 1px solid white;
  padding: 0.5rem;
  font-weight: 600;
}

.section-buscar select {
  margin-top: 0.5rem;
}

.Search {
  outline: none;
  width: 250px;
  height: 30px;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid white;
  color: white;
  transition: border-bottom 0.5s;
}

select option {
  font-weight: 800 !important;
}

.formMovie {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
}

.form-image {
  width: 75vh !important;
  height: auto !important;
}

.formMovie form {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  margin: 2vw;
  width: 50%;
  border-radius: 5px;
}

.formMovie form label,
.formMovie form input,
.formMovie form textarea {
  padding: 1rem;
  margin: 0.4rem 0;
  background: transparent;
  font-weight: 900;
  border: none;
  border-bottom: 1px solid white;
  text-transform: uppercase;
}

.form-button {
  width: auto !important;
  padding-top: 0.5rem;
}
