$background-color: #1E1E1E;
$main-font: 'Barlow', sans-serif;
$secondary-font: 'Roboto Slab', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$text-color: rgb(224, 231, 238);
$highlight-color: rgb(218, 22, 22);
$button-bg-color: rgb(220, 20, 20);
$button-border-color: rgb(196, 17, 17);
$button-hover-border-color: rgb(211, 211, 211);
$button-bg-color: #ec1e13;
$button-border-color: #ff5e57;
$button-hover-border-color: #ff5e57;

